# DATABASES = {
#     'default': {
#          'ENGINE': 'django.db.backends.postgresql',
#          'NAME': 'onchange',
#          'USER': 'root',
#          'PASSWORD': 'root',
#          'HOST': 'localhost',
#          'PORT': '5432',
#     },
# }
